table {
    background-color: aqua
}
table td {
    border: 1px solid #b32121
}
.form {
    text-align: right
}
table.cell-border {
    border: 1px, solid
}
a, div { 
    font-size: 20mm
}
a:visited {
    color: blueviolet
}
